<div class="page">
    <h1>
        <i class="fa fa-list-alt"></i>
        Logs
    </h1>

    <a ui-sref="queries" class="button">
        <i class="fa fa-database"></i>
        Queries
    </a>

    <p>
        Search : <input ng-model="search" ng-change="updateLogs()" />
    </p>

    <div class="logs" ng-show="logs.length > 0">
        <div class="log" ng-repeat="log in logs">
            <h2>File name : {{log.fileName}}</h2>
            <pre>{{log.content}}</pre>
        </div>
    </div>

    <p ng-show="logs.length == 0">
        No logs available
    </p>
</div>

