<div class="page">
    <h1>
        <i class="fa fa-database"></i>
        Queries
    </h1>

    <a ui-sref="logs" class="button">
        <i class="fa fa-list-alt"></i>
        Logs
    </a>

    <ul class="queries">
        <li class="query" ng-repeat="query in queries">
            <a ng-click="executeQuery(query)">
                <i class="fa fa-cog"></i>{{query}}
            </a>
        </li>
    </ul>

    <div class="select" ng-show="result && result.fields">
        <div class="row">
            <div class="col {{colClass}} header" ng-repeat="field in result.fields">
                {{field}}
            </div>
        </div>

        <div class="row" ng-repeat="row in result.rows">
            <div class="col {{colClass}}" ng-repeat="(rowName, rowValue) in row">
                {{rowValue}}
            </div>
        </div>
    </div>

    <div class="update" ng-show="result && !result.fields">
        <p>
            Affected rows : {{result.affectedRows}}
            <br/>
            Changed rows : {{result.changedRows}}
        </p>
    </div>


</div>