$color-1: #E59500;
$color-2: #F786AA;
$color-3: #FFA8A9;
$color-4: #02040F;
$color-5: #E5DADA;
$color-6: #840032;

body {
  color: $color-5;
  background-color: $color-4;

}

.page {
  padding: 10px;
}

h1 {
  font-size: 36px;
  font-weight: bold;

  margin-bottom: 12px;

  .fa {
    color: $color-1;
    font-size: 24px;
  }
}

p, ul {
  margin: 10px 0;
}

.button, a {
  color: $color-2;
  text-decoration: none;
  cursor: pointer;

  .fa {
    font-size: 12px;
  }

  &:hover,
  &:active {
    color: $color-3;
  }
}

.button {
  border: 1px solid $color-2;
  border-radius: 4px;
  padding: 2px 4px;

  &:hover,
  &:active {
    border: 1px solid $color-3;
  }
}

.logs {
  margin-top: 15px;

  .log {
    border: 1px solid $color-5;
    padding: 5px;
    border-radius: 5px;

    & + .log {
      margin-top: 10px;
    }

    h2 {
      font-size: 24px;
      margin-bottom: 10px;
    }

    pre {
      color: $color-6;
    }
  }
}

.queries {
  .query {
    .fa {
      font-size: 10px;
      margin-right: 5px;
    }
  }
}

.row {
  display: flex;
  flex-direction: row;

  .col {
    flex: 0 0 auto;
    border: 1px solid $color-5;
    text-align: center;
    padding: 5px;

    &.header {
      font-weight: bold;
      font-size: 18px;
    }

    &.col-4 {
      width: calc(25% - 10px);
    }
    &.col-2 {
      width: calc(50% - 10px);
    }
  }
}